.top{
    text-align: center;
}

.na{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.white-text{
    color: white;
}

.padding{
    padding: 20px;
}

.padding-top{
    padding-top: 20px;
}


.small-line{
    line-height: 10px;
}

.separate-bottom{
    padding-bottom: 10px;
}

.separate-side{
    margin-right: 15px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.App-logo{
    padding: 30px;
}

.orang-text{
    color: #fc6038;
}

.i-had-a-stroke{
    -webkit-text-stroke: 2px #0d2244;
}

@font-face {
    font-family: daydream;
    src: url('../assets/Daydream.ttf');
}

@font-face {
    font-family: rowdies;
    src: url('../assets/Rowdies-Regular.ttf');
}

@font-face {
    font-family: ubuntu;
    src: url('../assets//UbuntuSans-VariableFont_wdth\,wght.ttf');
}

.daydream{
    font-family: daydream;
}

.rowdies{
    font-family: rowdies;
}

.ubuntu{
    font-family: ubuntu;
}

.image-skew{
    transform: rotate(5deg);
}

.image-skew-sm{
    transform: rotate(3deg);
}

.image-skew-smr{
    transform: rotate(-3deg);
}

.image-skew-r{
    transform: rotate(-5deg);
}

.bigger-padding{
    padding: 40px;
}

.project-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headshot{
    object-fit: cover;
    border-radius: 40px;
    object-position: 100% 30%;
}

.different-bg{
    background-color: #b7d3e4;
}

.dark-border{
    border-bottom: #293241 5px dashed;
}

.dark-border-top{
    border-top: #293241 5px dashed;
}

.mid-bg{
    background-image: linear-gradient(to bottom, #b7d3e4, #e1f4f4);
}

.different-bg-darker{
    background-color: #293241;
}

.bg{
    background-color: #e1f4f4;
    overflow: hidden;
}

.nav-text{
    color: #293241 !important;
}

.black{
    color: black;
}

.margin-top{
    margin-top: 20px;
}

.border-color{
    border-color: #3D5A80;
    border-width: 2px;
}

.home.active{
    background-color: #EE6C4D !important;
    color: white !important;
}

.projs.active{
    background-color: #b7d3e4 !important;
}

.art.active{
    background-color: #EE6C4D !important;
    color: white !important;
}

.con.active{
    background-color: #3D5A80 !important;
    color: white !important;
}

.contact{
    text-align: left;
}

.center-text{
    text-align: center;
}

.border-yeah{
    border: #0d2244 3px solid;
}

.project-links{
    font-size: 25px;
    font-weight: 800;
    font-family: rowdies;
    color: #fc6038;
}

.top-light-border{
    border-top: #b7d3e4 5px dashed;
}

.lighter-borders{
    border-top: #e1f4f4 6px dotted;
    border-bottom: #e1f4f4 6px dotted;
}

.lighter-borders-2{
    border-top: #e1f4f4 6px dashed;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 10px;
    filter: invert(100);
}

.picture{
    position: relative;
}

.image-obj {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .picture:hover .image-obj {
    opacity: 0.4;
  }
  
  .picture:hover .middle {
    opacity: 1;
  }

  .big-text{
    font-size: 25px;
  }

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.width{
    width: 50%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.big-test{
    font-size: 50px;
}

.big-text{
    font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: float infinite 1s ease-in-out alternate;
    }
  }
  
  @keyframes float {
    from {
      transform:translate();
    }
    to {
      transform: translate(0px, 10px);
    }
  }